<div class="flex items-center mb-8 hover:opacity-70">
  <i class="fa-solid fa-link fa-xl text-brown mr-2"></i>
  <% cafe_link = @post.cafe_link.to_s.strip %>
  <% if cafe_link.present? && cafe_link =~ /\Ahttps?:\/\/[^\s]+\z/ %>
    <%= link_to ERB::Util.html_escape(cafe_link), cafe_link, target: "_blank", rel: "noopener noreferrer", class: "link link-neutral text-sm md:text-md truncate overflow-hidden text-ellipsis" %>
  <% else %>
    <span class="text-gray-500 text-sm md:text-md">リンクは無効です</span>
  <% end %>
</div>