<div class="mt-6 mb-8">
  <% @post.tags.each do |tag| %>
    <div class="text-brown mr-3 hover:opacity-70">
    <%= link_to tag_path(tag) do %>
      <i class="fa-solid fa-hashtag"></i>
      <span class="text-sm md:text-base"><%= tag.name %></span>
    <% end %>
    </div>
  <% end %>
</div>