<body class="bg-cream">
<div class="container mx-auto px-52 mt-6">
    <div class="flex justify-center items-center">
      <%= image_tag 'logo2.png', class: "w-48" %>
    </div>

    <h1 class="text-3xl font-bold mb-6 text-brown text-center">プライバシーポリシー</h1>

    <h2 class="text-xl text-brown mt-20 mb-10 font-bold">取得する情報</h2>
    <p class="mb-2 leading-relaxed text-gray-700">当アプリでは、以下の情報をお客様から取得いたします。
      <ul class="list-disc pl-5 space-y-2 text-gray-700">
        <li>ニックネーム</li>
        <li>メールアドレス</li>
        <li>生年月日</li>
        <li>MBTI（性格診断結果）</li>
        <li>居住地（市区町村など、具体的な住所は含みません）</li>
        <li>Cookie（クッキー）を使用して生成された識別情報</li>
      </ul>
    </p>

    <h2 class="text-xl text-brown mt-20 mb-10 font-bold">情報の利用目的</h2>
    <p class="leading-relaxed text-gray-700 mb-2">取得した情報は、以下の目的で使用いたします。
      <ul class="list-disc pl-5 space-y-2 text-gray-700">
        <li>本人確認および認証</li>
        <li>お問い合わせ対応</li>
        <li>ユーザー体験を向上させるためのサービス改善および分析</li>
      </ul>
    </p>

    <h2 class="text-xl text-brown mt-20 mb-10  font-bold">第三者提供について</h2>
    <p class="leading-relaxed text-gray-700">お客様の同意なしに、個人情報を第三者に提供することはありません。<br>
    当アプリは、必要に応じてプライバシーポリシーを改定することがあります。<br>
    変更がある場合は、適切な方法でお知らせいたします。</p>
  </div>
  <div class="flex justify-center items-center mt-24 mb-24">
    <%= image_tag 'beans.png', class: "w-10" %>
  </div>
</body>
