<% if post.favorited_by?(current_user) %>
  <%= button_to post_favorites_path(post), method: :delete, remote: true, class: "flex items-center" do %>
  <i class="fa-solid fa-heart fa-xl text-brown" aria-hidden="true"></i> <!-- アイコンの色をピンクに -->
  <span class="font-medium ml-2"><%= post.favorites.count %></span>
<% end %>

<% else %>
  <%= button_to post_favorites_path(post), method: :post, remote: true, class: "flex items-center" do %>
    <i class="fa-regular fa-heart fa-xl text-gray-300" aria-hidden="true"></i>
    <span class="font-medium ml-2"><%= post.favorites.count %></span>
  <% end %>
<% end %>