<% content_for(:title, t('.title')) %>
<body class="bg-cream">
  <div class="container mx-auto mt-8 mb-12 px-32 py-6 h-screen">
    <%= form_with model: [@post, @comment], local: true do |f| %>
      <div>
        <%= f.label :content, 'コメント本文', class: 'block text-brown font-semibold mb-2' %>
      </div>
      <div>
        <%= f.text_area :content, class: 'border border-gray-200 rounded-lg w-full p-2 h-56' %>
      </div>
      <div class="flex justify-center">
        <%= f.submit '投稿する', class: 'bg-teal text-white font-bold mt-8 py-2 px-12 rounded-lg hover:bg-opacity-70 max-w-xs' %>
      </div>
    <% end %>
  </div>
</body>
