<% content_for(:title, t('.title')) %>
<body class="bg-cream">
  <div class="container mx-auto mt-8 mb-12 px-6 lg:px-32 py-6">
    <h1 class="text-brown text-2xl font-bold mb-8 text-center lg:text-left">
      <i class="fa-solid fa-mug-hot text-teal mr-2"></i>
      カフェドリンク診断
    </h1>

    <%= form_with url: result_drinks_path, method: :get, local: true do |f| %>
      <%= render 'commons/diagnoses_form', f: f %>
    <% end %>
  </div>
</body>
