<footer class="footer bg-teal text-primary-content p-5 md:p-10">
  <!-- 左側コンテンツ -->
  <aside>
    <%= link_to image_tag('logo.png', class: 'h-12 md:h-14 lg:h-16 hover:opacity-70'), root_path %>
    <p class="font-bold">
      <%= link_to 'お問い合わせ', contact_path, class: 'text-brown font-bold hover:opacity-70' %>
    </p>
    <p class="font-bold">
      <%= link_to '利用規約', terms_of_service_path, class: 'text-brown font-bold hover:opacity-70' %>
    </p>
    <p class="font-bold">
      <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'text-brown font-bold hover:opacity-70' %>
    </p>
  </aside>
</footer>
