<div class="bg-teal">
  <header class="flex justify-between items-center p-4 md:mx-8 z-50 relative">
    <div>
      <%= link_to image_tag('logo.png', class: 'h-12 md:h-14 lg:h-16 hover:opacity-70'), current_user ? posts_path : root_path %>
    </div>
    <div class="flex items-center space-x-4">
      <% if user_signed_in? %>
        <%= render 'shared/signed_in_navbar' %>
      <% else %>
        <%= render 'shared/signed_out_navbar' %>
      <% end %>
    </div>
  </header>
</div>
