<%= search_form_for @q, url: search_url, method: :get, class: 'flex flex-col sm:flex-row gap-2 items-start sm:items-center' do |f| %>

  <!-- 検索ボックス -->
  <div class="relative w-full">
  <%= f.search_field :cafe_name_cont, id: "search-input",
      class: "w-full sm:flex-1 px-4 py-2 border border-brown rounded-lg text-brown placeholder:text-brown focus:outline-none focus:ring-2 focus:ring-brown",
      placeholder: "カフェ名を入力",
      autocomplete: "off" %>

  <ul id="autocomplete-results" class="absolute fixed left-0 max-h-60 bg-cream text-brown shadow-lg rounded border w-full hidden max-h-[150px] overflow-y-auto">
  </ul>
</div>

    <script src="/assets/autocomplete.js"></script>

  <!-- フィルター用の選択肢 -->
  <div class="flex w-full sm:w-auto gap-2">
    <div class="flex-1 sm:flex-none sm:w-44 md:w-48">
      <%= f.select :address_cont,
        @prefectures,
        { include_blank: "都道府県を選択" },
        class: "w-full px-4 py-2 border border-brown rounded-lg text-brown bg-white focus:outline-none focus:ring-2 focus:ring-brown focus:border-brown" %>
    </div>
  </div>

  <!-- 検索ボタン -->
  <button id="search-button" class="w-full sm:w-auto px-4 py-2 bg-brown text-white rounded border border-brown hover:bg-opacity-90 transition duration-300 flex items-center justify-center">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
<% end %>