<% content_for(:title, @tag.name) %>
<div class="bg-cream">
  <div class="container mx-auto pt-10">
  <h1 class="text-2xl font-bold mb-3"><i class="text-brown fa-solid fa-hashtag"></i><span class="text-brown"><%= @tag.name %></span> <span class="text-gray-700 text-xl">に関連する投稿</span></h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-8 pb-8">
      <% @posts.each do |post| %>
      <%= render 'commons/post', post: post %>
      <% end %>
    </div>
  </div>
  <%= link_to new_post_path do %>
    <div class="bg-teal border-4 border-white p-4 rounded-full shadow-lg fixed bottom-2 right-2 flex items-center justify-center w-16 h-16">
      <i class="fa fa-plus text-white text-2xl"></i>
    </div>
  <% end %>
</div>