<% content_for(:title, t('.title')) %>
<body class="bg-cream">
  <div class="container mx-auto mt-8 mb-20 px-32 py-6">
    <h1 class="text-brown text-3xl font-bold mb-20">カフェデザートの診断結果</h1>

    <p class="mb-20 text-2xl">あなたにおすすめのカフェデザートは：<%= @result %></p>


    <%= link_to 'もう一度診断する', new_dessert_path, class: 'bg-brown text-white px-2 py-3 rounded-md' %>
    <%= link_to '診断一覧ページに戻る', diagnoses_path, class: 'bg-brown text-white px-2 py-3 rounded-md' %>
  </div>
</body>