<% content_for(:title, t('.title')) %>
<body class= "bg-cream">
  <div class="container mx-auto  h-screen">
  <div class="text-xl text-brown font-bold mt-8">ブックマーク一覧</div>
      <% if @bookmark_posts.present? %>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pt-6 pb-8">
          <% @bookmark_posts.each do |post| %>
            <%= render 'commons/post', post: post %>
          <% end %>
        </div>
      <% else %>
        <p>ブックマークしたポストはありません。</p>
      <% end %>
    </div>
  </div>
</body>