<% content_for(:title, t('.title')) %>
<body class="bg-cream h-screen">
  <div class="container mx-auto mt-8 mb-12 px-6 md:px-32 py-6">
    <%= form_with(model: @post, url: posts_path, method: 'post', local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= render 'form', f: f %>
    <% end %>
  </div>
</body>
