@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Genty';
    src: url('/assets/GentyDemo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
